@font-face {
  font-family: "Century Gothic";
  src: url("../font/CenturyGothic.ttf");
  src: url("../font/CenturyGothic.eot");
  src: url("../font/CenturyGothic.svg");
  src: url("../font/CenturyGothic.woff"); }

@font-face {
  font-family: "Code";
  src: url("../font/Code-Light.ttf");
  src: url("../font/Code-Light.otf");
  src: url("../font/Code-Light.eot");
  src: url("../font/Code-Light.svg");
  src: url("../font/Code-Light.woff"); }